/* GLOBAL STYLE FIX */

html body {
    padding: 0;
    margin: 0;
    transition: background-color 1s;
    transition: color 2s;
}


/* PAGE LAYOUT */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 5%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

section .applications {
    margin: 0 auto;
    margin-bottom: 10%;
}

.applications {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

nav {
    background-color: #023020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vh;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.6);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
}


/* NAVIGATION */

.navItems {
    display: flex;
    width: 50%;
}

.navItems li {
    display: flex;
    list-style-type: none;
    padding: 0px 15px;
    margin: 5px 5px 5px 5px;
    border: gray solid 2px;
    border-radius: 5px;
}

.navItems li:hover {
    color: black;
    transition: 0.35s;
    background-color: aliceblue;
    border-radius: 5px;
}


/* FONT STYLES */

h1 {
    font-size: 3em;
    color: gray;
    text-shadow: 2px 3px rgba(128, 128, 128, 0.3)
}

h2 {
    font-size: 2.5em;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid gray;
    border-width: 2px;
    width: 50%;
}

h3 {
    font-size: 2em;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid gray;
    border-width: 2px;
    width: 50%;
}

p,
ol>li {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

nav,
.modal-text {
    font-family: 'Silkscreen', sans-serif;
}

input {
    color: darkslategray;
}

a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.hidden {
    display: none
}


/* DARK MODE SELECTOR */

.darkModeButton {
    cursor: pointer;
    border: 1px solid #555;
    background-color: #222;
    color: #e6e6e6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 30px;
}

.dark {
    background-color: #222;
    color: #e6e6e6;
    transition-duration: 1s;
}

.light {
    background-color: #e6e6e6;
    color: #222;
    transition-duration: 1s;
}


/* MODAL */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content>span {
    cursor: pointer;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#red {
    color: red;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#blue {
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#yellow {
    color: yellow;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#green {
    color: green;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#black {
    color: black;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textred {
    color: red;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textblue {
    color: blue;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textyellow {
    color: yellow;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textgreen {
    color: green;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textblack {
    color: black;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}

#textwhite {
    color: white;
    background-color: black;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
}


/* PREFERENCES */

.red {
    background-color: darkred;
    color: black;
}

.blue {
    background-color: blue;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: black;
}

.black {
    background-color: black;
    color: black;
}

.textred {
    color: red;
}

.textblue {
    color: blue;
}

.textyellow {
    color: yellow;
}

.textgreen {
    color: green;
}

.textblack {
    color: black;
    background-color: white;
}

.textwhite {
    color: white;
    background-color: black;
}


/* APPLICATION STYLES */

#pokedex {
    border: solid 3px black;
    padding: 10%;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: space-between;
    height: 70vh;
    width: 40%;
    background-color: red;
}

#pokemonScreen {
    min-height: 25vh;
    min-width: 25vh;
    height: 90%;
    width: 100%;
    border: black 2px solid;
    border-bottom: none;
    background-color: gray;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-start: 0px;
    padding-bottom: 0px;
}

#pokemonname {
    min-width: 25vh;
    width: 100%;
    border: black 2px solid;
    border-top: none;
    border-bottom: none;
    background-color: gray;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

#pokemontype {
    min-width: 25vh;
    width: 100%;
    border: black 2px solid;
    background-color: gray;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

#pokemonheight {
    min-width: 25vh;
    width: 100%;
    border: black 2px solid;
    border-top: none;
    background-color: gray;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

#pokemonweight {
    min-width: 25vh;
    width: 100%;
    border: black 2px solid;
    border-top: none;
    background-color: gray;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

#pokedexlogo {
    border: none;
    text-align: center;
    border: black solid 10px;
    width: 100%;
}

#pokemoninput {
    margin-top: 10%;
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
}

#getPokemon {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
}

#getRandomPokemon {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
}

#trivia {
    border: solid 3px black;
    padding: 10%;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: gray;
}

#showAnswer {
    width: 20%;
    margin: 0 auto;
}


/* MOBILE STYLES */

@media only screen and (max-width: 750px) {
    .container {
        margin: 0 auto;
        padding: 0 5%;
    }
    nav {
        background-color: #023020;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0;
    }
    h1 {
        font-size: 2em;
        text-align: center;
        margin: 0;
        max-width: 100vw;
    }
    h2 {
        text-align: center;
        width: 100%;
    }
    p,
    ol>li {
        font-size: 1.25em;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navItems {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
    }
    .navItems li {
        list-style-type: none;
        justify-content: center;
        margin: 5px;
    }
    .darkModeButton {
        cursor: pointer;
        border: 1px solid #555;
        background-color: #222;
        color: #e6e6e6;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    /* MODAL */
    #myBtn {
        display: flex;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
        text-align: center;
        height: 80vh;
    }
    .modal-content span {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    /* APPLICATION STYLES */
    #pokedex {
        padding: 5%;
        padding-top: 30px;
        justify-content: space-between;
        height: 70vh;
        width: 80%;
        margin: 0 auto;
        background-color: red;
        margin-block-start: 0px;
    }
    #pokemonScreen {
        min-height: 30%;
        min-width: 20%;
        height: 100%;
        width: 80%;
        border-bottom: none;
        background-color: gray;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        margin-block-start: 0px;
        margin-bottom: 0;
    }
    #pokemonname {
        min-width: 25vh;
        width: 80%;
        border-top: none;
        background-color: gray;
        text-align: center;
        margin: 0 auto;
        margin-block-start: 0px;
        font-size: 1.5em;
    }
    #pokemontype {
        min-width: 25vh;
        width: 80%;
        border: black 2px solid;
        background-color: gray;
        text-align: center;
        margin: 0 auto;
        font-size: 1em;
    }
    #pokemonheight {
        min-width: 25vh;
        width: 80%;
        border-top: none;
        background-color: gray;
        text-align: center;
        margin: 0 auto;
        font-size: 1em;
    }
    #pokemonweight {
        min-width: 25vh;
        width: 80%;
        border-top: none;
        background-color: gray;
        text-align: center;
        margin: 0 auto;
        font-size: 1em;
    }
    #pokedexlogo {
        border: none;
        text-align: center;
        width: 100%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin: 0 auto;
    }
    #pokemoninput {
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
    }
    #getPokemon {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        width: 60%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5%;
    }
    #getRandomPokemon {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        width: 60%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5%;
    }
}