/* GLOBAL STYLE FIX */
html body{
    padding: 0;
    margin: 0;
}

/* PAGE LAYOUT */

.container{
    max-width: 800px;
    margin: 0 auto;
    border: black solid 1px;
    padding: 0 10%;
}

nav{
    background-color: #023020;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

/* NAVIGATION */

.navItems {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.navItems li{
    display: flex;
    list-style-type: none;
    padding: 0px 10px;
    margin: 0px 5px 0px 5px;
    border: gray solid 1px;
    border-radius: 4px;
    
}

/* FONT STYLES */

h1{
    font-size: 3em;
    color: gray;
}

h2{
    font-size: 2.5em;
}

p{
    font-size: 2em;
}

a{
    text-decoration: none;
    color: gray;
}
a:hover{
    font-weight: bolder;
    color: whitesmoke;
    transition: 0.5s;
}
a:active{
    color: whitesmoke;
}

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {

    nav{
        background-color: #023020;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    h1{
        font-size: 2em;
        text-align: center;
    }


    .navItems {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .navItems li{
        list-style-type: none;
        justify-content: center;
        margin: 0px 5px 0px 5px;
    }
  }